{% extends "admin/skeleton" %}

{% block title "Control Panel" %}

{% block content %}

    <h2>Competitions</h2>

    <form name="competitions" action="" method="POST">
        {{ csrf_field() }}
        <p class="selectors">
            <strong>Select:</strong>
            {% for class, title in {'compselect': "All", 'notaclass': "None", 'am': "AM", 'pm': "PM", 'waiting': "Waiting", 'active': "Active", 'final': "Final"} %}
            <a href="#" onclick="$('.compselect').removeAttr('checked'); $('.{{ class }}').attr('checked', 'checked'); return false;">{{ title }}</a>{% if not loop.last %} | {% endif %}
            {% endfor %}
        </p>

        <table class="competitions">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Session</th>
                    <th colspan="2">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for comp in competitions %}
                <tr id="comp-{{ comp.id }}"{% if edit and edit.id == comp.id %} class="edit"{% endif %}>
                    <td><input id="select-{{ comp.id }}" type="checkbox" name="competitions[]" value="{{ comp.id }}" class="compselect {{ comp.ampm }} {{ comp.status }}"></td>
                    <td><a href="{{ url('competition', {id: comp.id}) }}">{{ comp.name }}</a></td>
                    <td>{{ comp.ampm|upper }}</td>
                    <td>{{ comp.status|title }}</td>
                    <td>{% if edit and edit.id == comp.id %}Editing Below{% else %}<a href="{{ route('admin') }}?edit={{ comp.id }}">Edit</a>{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <p class="buttons">
            <strong>With Selected:</strong>
            <button type="submit" name="action" value="waiting" formaction="{{ route('competition.edit') }}">Mark Waiting</button>
            <button type="submit" name="action" value="active" formaction="{{ route('competition.edit') }}">Mark Active</button>
            <button type="submit" name="action" value="final" formaction="{{ route('competition.edit') }}">Mark Final</button>
            <button type="submit" name="action" value="delete" formaction="{{ route('competition.delete') }}" onclick="return confirm('Do you really want to delete the checked competitions?');">Delete</button>
        </p>

    </form>

    <form action="" method="POST" class="box {{ edit ? 'edit' : 'add' }}">
        {{ csrf_field() }}
        <h2>{{ edit ? "Edit" : "Add" }} Competition</h2>

        <p>
            <strong>Name:</strong>
            <input id="name" name="name" type="text" value="{{ edit.name }}" autofocus>

            <label>
                <input id="am" name="ampm" type="radio" value="am"
                       {% if not edit or edit.ampm == "am" %} checked{% endif %}>
                AM
            </label>
            <label>
                <input id="pm" name="ampm" type="radio" value="pm"
                       {% if edit.ampm == "pm" %} checked{% endif %}>
                PM
            </label>
        </p>

        <p>
            {% if edit %}
            <input type="hidden" name="original" value="{{ edit.id }}">
            <button type="submit" name="action" value="edit" formaction="{{ route('competition.rename') }}">Save</button>
            <button type="submit" name="action" value="add" formaction="{{ route('competition.add') }}">Save as New</button>
            <button formaction="{{ route('admin') }}">Cancel</button>
            {% else %}
            <input type="hidden" name="action" value="add">
            <button type="submit" formaction="{{ route('competition.add') }}">Add</button>
            {% endif %}
        </p>
    
    </form>

{% endblock content %}

